
<!-- TOPBAR -->
<div id="top-bar" class="hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-bar-content">
                    <p>Have any questions? <span></span><i class="icon-mobile2"></i> (33) 2222-33-24 <span></span>&bull;<span></span> <i class="icon-mail3"></i> Mail us - <a href="#">mail@ckthemes.com</a></p>
                </div>
                <div class="top-login">
                    <a href="./shop-login.html">Login</a>
                </div>
                <div class="nav-social-icons">
                    <ul class="social-icons">
                        <li class="facebook">
                            <a href="http://facebook.com" target="_blank">
                            <i class="fa fa-facebook"></i><i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="http://twitter.com" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="google-plus">
                            <a href="http://google.com" target="_blank">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="flickr">
                            <a href="http://flickr.com" target="_blank">
                            <i class="fa fa-flickr"></i>
                            <i class="fa fa-flickr"></i>
                            </a>
                        </li>
                        <li class="pinterest">
                            <a href="http://pinterest.com" target="_blank">
                            <i class="fa fa-pinterest"></i>
                            <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="http://instagram.com" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="behance">
                            <a href="http://behance.net" target="_blank">
                            <i class="fa fa-behance"></i>
                            <i class="fa fa-behance"></i>
                            </a>
                        </li>
                        <li class="dribbble">
                            <a href="http://dribbble.ocm" target="_blank">
                            <i class="fa fa-dribbble"></i>
                            <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li class="youtube">
                            <a href="http://youtube.com" target="_blank">
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li class="vimeo-square">
                            <a href="http://vimeo.com" target="_blank">
                            <i class="fa fa-vimeo-square"></i>
                            <i class="fa fa-vimeo-square"></i>
                            </a>
                        </li>
                        <li class="github">
                            <a href="http://github.com" target="_blank">
                            <i class="fa fa-github"></i>
                            <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="soundcloud">
                            <a href="http://soundcloud.com" target="_blank">
                            <i class="fa fa-soundcloud"></i>
                            <i class="fa fa-soundcloud"></i>
                            </a>
                        </li>
                        <li class="wordpress">
                            <a href="http://wordpress.com" target="_blank">
                            <i class="fa fa-wordpress"></i>
                            <i class="fa fa-wordpress"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- HEADER -->
<header id="header-main">
    <div class="container">
        <div class="navbar yamm navbar-default">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand"><img src="images/basic/logo.png" width="40" alt=""/></a>
            </div>

            <!-- CART / SEARCH -->
            <div class="header-x pull-right">
                <div class="s-cart">
                    <div class="sc-trigger"><i class="icon-bag"></i><span>2</span></div>
                    <div class="cart-info">
                        <small>You have <em class="highlight">2 item(s)</em> in your shopping bag</small>
                        <br>
                        <br>
                        <div class="ci-item">
                            <img src="images/shop/2.jpg" width="70" alt=""/>
                            <div class="ci-item-info">
                                <h5><a href="./single-product.html">Product fashion</a></h5>
                                <p>2 x $250.00</p>
                                <div class="ci-edit">
                                    <a href="#" class="edit fa fa-edit"></a>
                                    <a href="#" class="edit fa fa-trash"></a>
                                </div>
                            </div>
                        </div>
                        <div class="ci-item">
                            <img src="images/shop/8.jpg" width="70" alt=""/>
                            <div class="ci-item-info">
                                <h5><a href="./single-product.html">Product fashion</a></h5>
                                <p>2 x $250.00</p>
                                <div class="ci-edit">
                                    <a href="#" class="edit fa fa-edit"></a>
                                    <a href="#" class="edit fa fa-trash"></a>
                                </div>
                            </div>
                        </div>
                        <div class="ci-total">Subtotal: $750.00</div>
                        <div class="cart-btn">
                            <a href="#">View Bag</a>
                            <a href="#">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="s-search">
                    <div class="ss-trigger"><i class="icon-search2"></i></div>
                    <div class="ss-content">
                        <span class="ss-close icon-cross2"></span>
                        <div class="ssc-inner">
                            <form>
                                <input type="text" placeholder="Type Search text here...">
                                <button type="submit"><i class="icon-search2"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown yamm-fw">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Home 
                            <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-sm-3">
                                            <li><a href="index.html">Home Version 1</a></li>
                                            <li><a href="index2.html">Home Version 2</a></li>
                                            <li><a href="index3.html">Home Version 3</a></li>
                                            <li><a href="index4.html">Home Version 4</a></li>
                                            <li><a href="index5.html">Home Version 5</a></li>
                                            <li><a href="index-video.html">Home - Video</a></li>

                                        </ul>
                                        <ul class="col-sm-3">
                                            <li><a href="onepage_hosting.html">Onepage <strong>Hosting</strong></a></li>
                                            <li><a href="onepage_charity.html">Onepage <strong>Charity</strong></a></li>
                                            <li><a href="onepage_construction.html">Onepage <strong>Construction</strong></a></li>
                                            <li><a href="onepage_landing.html">Onepage <strong>App Landing</strong></a></li>
                                            <li><a href="onepage_medical.html">Onepage <strong>Medical</strong></a></li>
                                        </ul>
                                        <ul class="col-sm-3">
                                            <li><a href="onepage_church.html">Onepage <strong>Church</strong></a></li>
                                            <li><a href="onepage_food.html">Onepage <strong>Restaurant</strong></a></li>
                                            <li><a href="onepage_fahion.html">Onepage <strong>Fashion</strong></a></li>
                                            <li><a href="onepage_gym.html">Onepage <strong>Gym</strong></a></li>
                                            <li><a href="onepage_lawyer.html">Onepage <strong>Lawyer</strong></a></li>
                                        </ul>
                                        <ul class="col-sm-3">
                                            <li><a href="index.html">Header version 1</a></li>
                                            <li><a href="header2.html">Header version 2</a></li>
                                            <li><a href="header3.html">Header version 3</a></li>
                                            <li><a href="header4.html">Header version 4</a></li>
                                            <li><a href="header5.html">Header version 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Pages 
                            <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-sm-3">
                                            <li><a href="about.html">About page</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="search.html">Search</a></li>
                                        </ul>
                                        <ul class="col-sm-3">
                                            <li><a href="careers.html">Careers</a></li>
                                            <li><a href="left_sidebar.html">Left Sidebar</a></li>
                                            <li><a href="right_sidebar.html">Right Sidebar</a></li>
                                            <li><a href="rl_sidebar.html">Dual Sidebar</a></li>
                                            <li><a href="comingsoon.html">Comingsoon</a></li>
                                        </ul>
                                        <ul class="col-sm-3">
                                            <li><a href="page_no_title.html">Page No title</a></li>
                                            <li><a href="page_with_title.html">Page with title</a></li>
                                            <li><a href="gallery-3col.html">Gallery 1</a></li>
                                            <li><a href="gallery-4col.html">Gallery 2</a></li>
                                            <li><a href="gallery-5col.html">Gallery 3</a></li>
                                        </ul>
                                        <ul class="col-sm-3">
                                            <li><a href="maintenance_mode.html">Maintenance Page</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                            <li><a href="support.html">Support</a></li>
                                            <li><a href="contact1.html">Contact 1</a></li>
                                            <li><a href="contact2.html">Contact 2</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Blog 
                            <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu">
                                <a href="#">Classic Style</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-left-1col.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-1col.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Masonry Style</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-mason-2col.html">2 Columns</a></li>
                                    <li><a href="blog-mason-3col.html">3 Columns</a></li>
                                    <li><a href="blog-mason-4col.html">4 Columns</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Grid Style</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-left-2col.html">2 Columns Left sidebar</a></li>
                                    <li><a href="blog-right-2col.html">2 Columns Right sidebar</a></li>
                                    <li><a href="blog-grid-3col.html">3 Columns</a></li>
                                    <li><a href="blog-grid-4col.html">4 Columns</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Single Project</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-single-left.html">Sidebar Left</a></li>
                                    <li><a href="blog-single-right.html">Sidebar Right</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Portfolio 
                            <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu">
                                <a href="#">Boxed Style</a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio-boxed-2col.html">2 Column</a></li>
                                    <li><a href="portfolio-boxed-3col.html">3 Column</a></li>
                                    <li><a href="portfolio-boxed-4col.html">4 Column</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Gutter Style</a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio-gutter-2col.html">2 Columns</a></li>
                                    <li><a href="portfolio-gutter-3col.html">3 Columns</a></li>
                                    <li><a href="portfolio-gutter-4col.html">4 Columns</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Tiles Style</a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio-tiles-2col.html">2 Columns</a></li>
                                    <li><a href="portfolio-tiles-3col.html">3 Columns</a></li>
                                    <li><a href="portfolio-tiles-4col.html">4 Columns</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Wide Style</a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio-wide-2col.html">2 Columns</a></li>
                                    <li><a href="portfolio-wide-3col.html">3 Columns</a></li>
                                    <li><a href="portfolio-wide-4col.html">4 Columns</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Single Project</a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio-floating-left.html">Floating Left Sidebar</a></li>
                                    <li><a href="portfolio-floating-right.html">Floating Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            shop 
                            <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="shop-left-sidebar.html">Shop - Left Sidebar</a></li>
                            <li><a href="shop-right-sidebar.html">Shop - Right Sidebar</a></li>
                            <li><a href="shop-fullwidth.html">Shop - Fullwidth</a></li>
                            <li><a href="shop-single-left.html">Single - Left Sidebar</a></li>
                            <li><a href="shop-single-right.html">Single - Right Sidebar</a></li>
                            <li><a href="shop-cart.html">Shop - Cart</a></li>
                            <li><a href="shop_checkout.html">Shop - Checkout</a></li>
                            <li><a href="shop-login.html">Shop - Account</a></li>
                        </ul>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Shortcodes 
                            <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-sm-3">
                                            <li><a href="elements-accordion.html">Accordion</a></li>
                                            <li><a href="elements-alertbox.html">Alertbox</a></li>
                                            <li><a href="elements-buttons.html">Buttons</a></li>
                                            <li><a href="elements-blockquotes.html">Blockquotes</a></li>
                                            <li><a href="elements-CTA.html">Call to action</a></li>
                                        </ul>
                                        <ul class="col-sm-3">
                                            <li><a href="elements-counters.html">Counters</a></li>
                                            <li><a href="elements-grid.html">Columns & Grid</a></li>
                                            <li><a href="elements-dividers.html">Dividers</a></li>
                                            <li><a href="elements-form.html">Forms</a></li>
                                            <li><a href="elements-googlemap.html">Google maps</a></li>
                                        </ul>
                                        <ul class="col-sm-3">
                                            <li><a href="gallery-2col.html">Gallery - 2col</a></li>
                                            <li><a href="gallery-3col.html">Gallery - 3col</a></li>
                                            <li><a href="gallery-4col.html">Gallery - 4col</a></li>
                                            <li><a href="gallery-5col.html">Gallery - 5col</a></li>
                                            <li><a href="elements-headings.html">Headings</a></li>
                                        </ul>
                                        <ul class="col-sm-3">
                                            <li><a href="elements-iconbox.html">Iconbox</a></li>
                                            <li><a href="elements-media.html">Media</a></li>
                                            <li><a href="elements-progress.html">Progress</a></li>
                                            <li><a href="elements-tabs.html">Tabs</a></li>
                                            <li><a href="elements-tables.html">Tables</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Contact 
                            <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="contact1.html">Contact 1</a></li>
                            <li><a href="contact2.html">Contact 2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>