{% extends 'base.html' %}
{% load static %}
{% block title %}Services{% endblock %}
{% block content %}
<!-- Start Features Section -->
<section class="features section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Power over Ethernet (PoE) Lighting</h2>
            <p>
                Lighting systems powered through a network provide you with a smart system that fully leverages Internet of Things (IoT) technology. From HVAC to sensors and many other devices, you can create a custom lighting solution for your enterprise environment. Thanks to PoE-enabled networks, you can gather data, inspire and interact with the staff and provide personalization options for everyone visiting or working on the premises. Ultimately, PoE provides comfort, safety and productivity.
            </p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4">

                <h3>Forward-Thinking Solutions for Your Projects Needs</h3>
                <p class="font-italic">
                    Audio Visual Division at NCS can cooperate with owners/reps, architects and consultants to establish an AV
                    installation and configuration that matches your exact specifications. If you still have doubts, we can
                    furnish you with a comprehensive AV installation design, complete with documentation, to meet your budget
                    limits.
                </p><br /><br />
                <h4>
                    Applications
                </h4>
                <!-- <ul>
              <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul> -->
            </div>
        </div>

        <!-- <div class="row" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="assets/img/features-2.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>Modern Network Architecture For The Global Internet Age</h3>
        <p class="font-italic">
          Enterprise mobility must not be considered a novelty or luxury, reserved for those constantly on the move.
          Frost Sullivan, the famed analyst firm, estimated that 79% of all businesses has some way of accommodating a
          "bring your own device to work" practice (according to their 2018 numbers).</p>
        <p>
          Furthermore, when employees bring their own devices, they increase the company's hardware capacity by 100%.
          Seeing how all modern businesses need reliable, high speed and private data transfer modes, and you can get
          a glimpse into why there is a clamor for a stable, scalable and robust mobile solution that can furnish a
          company with productivity across the table, at each stage of growth and both on-site and remotely.</p>
        <p>
          Allow your staff to prosper from having the connectivity to perform their business duties from any place and
          at any time. We will be your partner who will lay out the path of your growth, satisfying your business
          needs as the demand rises. NCS is the partner of choice when it comes to all wireless networking solutions.
        </p>
      </div>
    </div> -->

        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Healthcare</h3>
                <p>
                    More than one study has shown that lighting affects physical and mental health of individuals. Thanks to PoE architecture, healthcare providers can monitor the well-being of patients and adjust the micro-climate, which ultimately has a net positive effect on patients. From day to night, the patients can be provided with just the right level and type of lighting so they recover faster. For precise tasks, such as delicate surgery, PoE also has a solution, adjusting as needed to provide better visibility and a brighter environment with a more natural light.
                </p>

            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" id="ncs">
                <h3>Gunshot detection</h3>
                <p class="font-italic">
                    School faculty can now have a reliable way to detect gunshots, instantly alerting everyone present and the law enforcement where they happened. This can provide invaluable, real-time insight into shooting incidents and other events happening on school grounds. Sensors deployed throughout the building can trigger to notify first responders and occupants as of the whereabouts of the shooter or any other danger.
                </p>
            </div>
        </div>


        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Enhanced learning environment</h3>
                <p class="font-italic">
                    School experience is intimately linked to glaring and flickering fluorescent lights. These lights, ubiquitous in schools, do not foster a pleasant learning environment and can actually be detriment to learning. In such an environment, the brain refuses to focus and wanders off. In fact, studies have shown brightness levels correlate well with students grades. Better yet, IoT systems allow for a finer humidity, temperature and oxygen levels inside the premises.
                </p>
                <h4>Environments You Can Monitor and Adjust</h4>
                <ul>
                    <li><i class="icofont-check"></i>Temperature</li>
                    <li><i class="icofont-check"></i>Humidity.</li>
                    <li>
                        <i class="icofont-check"></i>Light output
                    </li>
                    <li><i class="icofont-check"></i>Color temperature</li>
                    <li><i class="icofont-check"></i>Circadian rhythm</li>
                    <li><i class="icofont-check"></i>CO2 detection</li>
                    <li><i class="icofont-check"></i>Gunshot detection</li>
                    <li><i class="icofont-check"></i>Ambient light (daylight harvesting)</li>
                </ul>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" id="ncs">
                <h3>Get Real-Time Insights</h3>
                <p class="font-italic">
                    Once deployed, a PoE network provides you with a user-friendly and smooth web-centered interface through which you can monitor and control connected devices. The real-time aggregated data can provide you with insights about anything from occupancy to activity patterns and temperature. Thanks to the LED lighting serving as a backbone in the IP network, you are given an enhanced capability for decision-making when it comes to lighting needs of occupants. Eco-friendly materials give PoE lighting systems a longer operating life, reduced energy wastage and improved dimmability with more colors.
                </p>
            </div>
        </div>


    </div>
</section><!-- End Features Section -->
  {% endblock %}