{% extends 'base.html' %}
{% load static %}
{% block title %}Services{% endblock %}
{% block content %}
<!-- Start Features Section -->
<section class="features section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Security - services</h2>
        <p>Beyond just housing a CCTyou with insights and visibility when it comes to your business inner workings. One such system would then become a cornerstone of your company-wide security plan that would boost security, deter crime, monitor foot traffic levels and capture all security events on your company premises.
NCS provides your business with the services of trained technology and security professionals who can deploy a security system that will apprise you of the constantly evolving security threats on your company premises. Up-to-date and best-in-class solutions from the leading manufacturing companies in the industry go hand in hand to deliver seamless, smooth and user-friendly protection of assets, property and people. Thanks to our expertise and experience, we can develop, deploy and maintain your security systems across a price range that suits your budget.V circuit, complete with cameras, your video surveillance system should provide </p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="assets/img/features-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Applications We Support</h3>
          <p class="font-italic">
            Whether you require a multi-site or a small office building solution, NCS can provide you with comprehensive solutions that match your security needs. Thanks to the innate scalability of our systems, they will grow with your business, giving you the freedom to select any of the open access control infrastructure solutions
          </p>
          
          <!-- <ul>
            <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          </ul> -->
        </div>
      </div>

      <!-- <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/features-2.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Modern Network Architecture For The Global Internet Age</h3>
          <p class="font-italic">
            Enterprise mobility must not be considered a novelty or luxury, reserved for those constantly on the move.
            Frost Sullivan, the famed analyst firm, estimated that 79% of all businesses has some way of accommodating a
            "bring your own device to work" practice (according to their 2018 numbers).</p>
          <p>
            Furthermore, when employees bring their own devices, they increase the company's hardware capacity by 100%.
            Seeing how all modern businesses need reliable, high speed and private data transfer modes, and you can get
            a glimpse into why there is a clamor for a stable, scalable and robust mobile solution that can furnish a
            company with productivity across the table, at each stage of growth and both on-site and remotely.</p>
          <p>
            Allow your staff to prosper from having the connectivity to perform their business duties from any place and
            at any time. We will be your partner who will lay out the path of your growth, satisfying your business
            needs as the demand rises. NCS is the partner of choice when it comes to all wireless networking solutions.
          </p>
        </div>
      </div> -->

      <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/features-3.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Access Control</h3>
          <p>Maintain the security of chosen rooms, buildings or properties and sleep soundly thanks to our top-notch card readers, access control systems and IP-restricted access management applications from trusted and reliable manufacturers. </p>
        </div>
      </div>
           <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="assets/img/features-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Physical Security</h3>
          <p class="font-italic">
            Security management architecture has to necessarily go beyond the digital measures and include physical limitations, such as turnstiles, gates, barriers and locking hardware. For these and more, contact us at any time and inquire.
          </p>
          
          <!-- <ul>
            <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          </ul> -->
        </div>
      </div>
        <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/features-3.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Video Surveillance & Analytics</h3>
          <p>We can meet your exact requirements, deploying any combination of hidden and conspicuous cameras, motion detector sensors, camera controls and wireless networks, accessible at any time from any supported computer, laptop or smartphone. Naturally, these all provide high-definition footage and images. Combined with physical access control, you have at your fingertips a more immediate and more effective response to any and all security incidents. Finally, you will acquire the ability to monitor and control your computer hardware from any place at any time, saving on maintenance and security.</p>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="assets/img/features-4.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" id="ncs">
          <h3>GCN Security Services</h3>
            <p>
GCN facilitates a wide mesh of exceptional services and products that ensure your assets and investments are adequately protected and can operate as intended.</p>
         <h4>Integrity assessment and business need evaluations with tight cost estimates</h4>
          <ul>
            <li><i class="icofont-check"></i>Detailed AutoCAD creation and system design to provide you with a precise schematic of system measurements</li>
            <li><i class="icofont-check"></i>Turnkey deployment of software and hardware, including all the relevant documentation</li>
            <li><i class="icofont-check"></i> Technical support, service and maintenance</li>
            <li><i class="icofont-check"></i>A broad range of options for after-deployment support, warranty and servicing</li>
            <li><i class="icofont-check"></i>Stocked replacement parts in the inventory</li>
            <li><i class="icofont-check"></i>BICSI-certified training facility with compliance-based education</li>
            <li><i class="icofont-check"></i>Support and software agreements</li>

          </ul>
            <h5>Camera & Housing Types</h5>
            <ul>
            <li><i class="icofont-check"></i>Outdoor Pendant</li>
            <li><i class="icofont-check"></i>TOutdoor Ceiling</li>
            <li><i class="icofont-check"></i>Weather Resistant</li>
            <li><i class="icofont-check"></i>Impact Resistant</li>
            <li><i class="icofont-check"></i>Bullet Resistant</li>
            <li><i class="icofont-check"></i>Analog</li>
            <li><i class="icofont-check"></i>IP,Pan / Tilt / Zoom, Megapixels</li>

          </ul>
        </div>
      </div>


     


    </div>
  </section><!-- End Features Section -->
  {% endblock %}