{% extends 'base.html' %}
{% load static %}
{% block title %}Services{% endblock %}
{% block content %}
<!-- Start Features Section -->
<section class="features section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Structured Cabling - services</h2>
            <p>
                Structured cabling performs the function of a digital information backbone that ties together all the modern communication environments together. GCN conceptualizes and deploys dynamic, cost-efficient network communication solutions that are built to satisfy the needs of your burgeoning business. We offer over 100 manufacturing pipelines, allowing us to provide a comprehensive set of solutions of any size, alongside inspection and technical support, making your business seamlessly integrated and working non-stop. No matter the size or complexity of the task we're handed, GCN can manage all your multimedia, video, voice and data needs.
            </p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4">

                <h3>The GCN Advantage</h3>
                <p class="font-italic">
                    Working with NCS provides you and your business with several benefits:
                </p>
                <ul>
                    <li><i class="icofont-check"></i>Supervision of the entire cabling deployment project from one source, starting with design and finishing with execution.</li>
                    <li><i class="icofont-check"></i>Comprehensive turnkey ecosystem with minimal time-to-deploy and an innate solution: elevation, design and rack design..</li>
                    <li>
                        <i class="icofont-check"></i>Standards-based implementation according to specifications
                    </li>
                    <li><i class="icofont-check"></i>Properly documented and labeled cabling layout, facilitating immediate change, easy management, fast diagnostics and minimal system downtime.</li>

                </ul>
            </div>
        </div>

        <!-- <div class="row" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="assets/img/features-2.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>Modern Network Architecture For The Global Internet Age</h3>
        <p class="font-italic">
          Enterprise mobility must not be considered a novelty or luxury, reserved for those constantly on the move.
          Frost Sullivan, the famed analyst firm, estimated that 79% of all businesses has some way of accommodating a
          "bring your own device to work" practice (according to their 2018 numbers).</p>
        <p>
          Furthermore, when employees bring their own devices, they increase the company's hardware capacity by 100%.
          Seeing how all modern businesses need reliable, high speed and private data transfer modes, and you can get
          a glimpse into why there is a clamor for a stable, scalable and robust mobile solution that can furnish a
          company with productivity across the table, at each stage of growth and both on-site and remotely.</p>
        <p>
          Allow your staff to prosper from having the connectivity to perform their business duties from any place and
          at any time. We will be your partner who will lay out the path of your growth, satisfying your business
          needs as the demand rises. NCS is the partner of choice when it comes to all wireless networking solutions.
        </p>
      </div>
    </div> -->

        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Standards Compliance</h3>
                <p>
                    GCN exceeds or meets the following national standards regarding uniform documentation, testing, installation and labeling for telecom cabling within commercial buildings, such as EN 50173, ISO 11801, TIA-606, TIA-568 and TIA-942<br>
                    These standards guarantee that NCS will deliver a uniform environment that can be used straight away thanks to its compatibility with a multitude of vendors.
                </p>

            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" id="ncs">
                <h3>Gunshot detection</h3>
                <p class="font-italic">
                    School faculty can now have a reliable way to detect gunshots, instantly alerting everyone present and the law enforcement where they happened. This can provide invaluable, real-time insight into shooting incidents and other events happening on school grounds. Sensors deployed throughout the building can trigger to notify first responders and occupants as of the whereabouts of the shooter or any other danger.
                </p>
            </div>
        </div>


        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Solutions & Services</h3>

                <ul>
                    <li><i class="icofont-check"></i>Cabling: Cat 5e, 6, 6a, 10Gig</li>
                    <li><i class="icofont-check"></i>Fiber Optic Cabling</li>
                    <li>
                        <i class="icofont-check"></i>Outside Plant Cabling
                    </li>
                    <li><i class="icofont-check"></i>Voice Cabling</li>
                    <li><i class="icofont-check"></i>Paging Systems</li>
                    <li><i class="icofont-check"></i>CO2 detection</li>
                    <li><i class="icofont-check"></i>Data Centers</li>
                    <li><i class="icofont-check"></i>Coax</li>
                    <li><i class="icofont-check"></i>Conduit</li>
                    <li><i class="icofont-check"></i>Basket Tray / Ladder Rack</li>
                    <li><i class="icofont-check"></i>Power Over Ethernet (PoE) LED Lighting Systems</li>
                    <li><i class="icofont-check"></i>Wireless/ In-Building Wireless</li>
                    <li><i class="icofont-check"></i>Distributed Antenna Systems (DAS)</li>

                </ul>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" id="ncs">
                <h3>Credentials</h3>
                <ul>
                    <li><i class="icofont-check"></i>BICSI Certified RCDDs, Installers, and Trainers</li>
                    <li><i class="icofont-check"></i>AVIXA CTS, CTS-D and CTS-I Certified Professionals</li>
                    <li>
                        <i class="icofont-check"></i>AQAV CQD and CQT Certified Professionals
                    </li>
                    <li><i class="icofont-check"></i>CAT 6 Install Certified</li>
                    <li><i class="icofont-check"></i>T1 & T2 Licensed</li>
                    <li><i class="icofont-check"></i>Panduit V Installer Certified</li>
                    <li><i class="icofont-check"></i>Leviton CCS Certified Installer</li>


                </ul>

            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Design & Consulting</h3>

                <ul>
                    <li><i class="icofont-check"></i>Structured cabling system design</li>
                    <li><i class="icofont-check"></i>BICSI/RCDD expertise</li>
                    <li>
                        <i class="icofont-check"></i>Preparation of structured cabling specifications
                    </li>
                    <li><i class="icofont-check"></i>Development of bid specifications and RFP packages</li>
                    <li><i class="icofont-check"></i>Planning, budgeting and engineering review</li>
                    <li><i class="icofont-check"></i>Construction plan review for EIA/TIA standard compliance</li>
                    <li><i class="icofont-check"></i>Database development for cable management</li>


                </ul>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" id="ncs">
                <h3>Installation</h3>
                <ul>
                    <li><i class="icofont-check"></i>Installation of copper and fiber optic cable</li>
                    <li><i class="icofont-check"></i>Manufacturer certified installers offering OEM-extended warranties</li>
                    <li>
                        <i class="icofont-check"></i>Installation of air-blown fiber systems (eABF)
                    </li>
                    <li><i class="icofont-check"></i>Installation of wiring racks, cabinets and patch panels</li>
                    <li><i class="icofont-check"></i>Cable certification and compliance testing</li>
                    <li><i class="icofont-check"></i>Panduit V Installer Certified</li>
                    <li><i class="icofont-check"></i>Project management services</li>


                </ul>

            </div>
        </div>


    </div>
</section><!-- End Features Section -->
  {% endblock %}