{% extends 'base.html' %}
{% load static %}
{% block title %}Services{% endblock %}
{% block content %}
<!-- Start Features Section -->
    <section class="features section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Wireless Networks - services</h2>
                <h3>Modern Network Architecture For The Global Internet Age</h3>
                <p>
                    Enterprise mobility must not be considered a novelty or luxury, reserved for those constantly on the move. Frost Sullivan, the famed analyst firm, estimated that 79% of all businesses has some way of accommodating a "bring your own device to work" practice (according to their 2018 numbers).<br>
                    Furthermore, when employees bring their own devices, they increase the company's hardware capacity by 100%. Seeing how all modern businesses need reliable, high speed and private data transfer modes, and you can get a glimpse into why there is a clamor for a stable, scalable and robust mobile solution that can furnish a company with productivity across the table, at each stage of growth and both on-site and remotely.<br />
                    Allow your staff to prosper from having the connectivity to perform their business duties from any place and at any time. We will be your partner who will lay out the path of your growth, satisfying your business needs as the demand rises. NCS is the partner of choice when it comes to all wireless networking solutions.<br>
                </p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="assets/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>The Benefits of Today's Modern Wireless Network Architecture</h3>
                    <p class="font-italic">
                        On the enterprise level, wireless networking solutions represent the cornerstone of a cutting-edge network structure. They allow users to roam where cabling isn't feasible or wiring is too costly. To rise to this demand, we install access points that amplify signals, helping a device distance itself from a router without losing network connection. This may be an area the size of a room or the corporate campus.<br>
                        There are numerous upsides to installing and using a wireless network that spans the entire enterprise
                    </p>

                    <!-- <ul>
                  <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                </ul> -->
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="assets/img/features-3.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h2>Scalability</h2>

                    <p>
                        If needed, the network can be easily expanded using preexisting equipment and software rather than tearing everything down and installing the infrastructure from scratch.
                        Flexibility, Mobility, Convenience
                        Productivity and collaboration become a breeze when staff members have unfettered access to applications and network resources from any physical location.
                    </p>
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="assets/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Reduce Costs</h3>
                    <p class="font-italic">
                        Wireless networking solutions can minimize or completely eliminate wiring costs, all the while costing less to manage and service than wired solutions.
                    </p>

                    <!-- <ul>
                  <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                </ul> -->
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="assets/img/features-3.svg" class="img-fluid" alt="">
                </div>
                <h2>Security</h2>

                <p>
                    Robust digital and physical security upgrades and updates can be deployed centrally and propagate throughout the entire network, without the need to individually patch hardware.
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4">
                <h3>GCN Wireless Solutions</h3>
                <p class="font-italic">
                    NCS has on offer a couple technology and deployment options, ranging from WLAN/WiFi to Distributed Antenna Systems (DAS). No matter what kind of solution you need, NCS will provide you and your team with all the perks of modern Internet technologies. Some of these solutions we have on offer are:
                </p>

                <!-- <ul>
              <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul> -->
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="assets/img/features-3.svg" class="img-fluid" alt="">
                </div>
                <h2>Commercial Grade WiFi</h2>

                <p>
                    If you are in need of a high-performance WiFi network that comes with innate security features, look no further. NCS will deploy and provide tech support for top-notch WiFi hardware in the industry, all coming from trusted manufacturers, engineering glitch-free, user-friendly solutions that give you maximum convenience with no compromise on performance.
                </p>
            </div>
        </div>
        <!-- <div class="row" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="assets/img/features-2.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>Modern Network Architecture For The Global Internet Age</h3>
        <p class="font-italic">
          Enterprise mobility must not be considered a novelty or luxury, reserved for those constantly on the move.
          Frost Sullivan, the famed analyst firm, estimated that 79% of all businesses has some way of accommodating a
          "bring your own device to work" practice (according to their 2018 numbers).</p>
        <p>
          Furthermore, when employees bring their own devices, they increase the company's hardware capacity by 100%.
          Seeing how all modern businesses need reliable, high speed and private data transfer modes, and you can get
          a glimpse into why there is a clamor for a stable, scalable and robust mobile solution that can furnish a
          company with productivity across the table, at each stage of growth and both on-site and remotely.</p>
        <p>
          Allow your staff to prosper from having the connectivity to perform their business duties from any place and
          at any time. We will be your partner who will lay out the path of your growth, satisfying your business
          needs as the demand rises. NCS is the partner of choice when it comes to all wireless networking solutions.
        </p>
      </div>
    </div> -->

        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Point-to-Point Wireless Bridge</h3>
                <p>When several locations need to be wirelessly connected through the network, we can deploy the Point-to-Point Wireless Bridge, a subset of WiFi networking technology solutions. It allows you to connect several buildings into a single network, such as office complexes across the campus or surveillance systems of several garages but can also help you circumnavigate geographical barriers.</p>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4">
                <h3>Emergency Responder Radio System</h3>
                <p class="font-italic">
                    First-responder or public safety DAS (Distributed Antenna System) are commonplace to the point of being a county-level safety standard for buildings across municipalities. Rebroadcast signals emerging from the building to the outside system, where signals are of a higher intensity.
                </p>

                <!-- <ul>
              <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul> -->
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>In-Building Distributed Antenna Systems (DAS)</h3>
                <p>As hinted at above, these systems are tightly integrated with cellular networks but also serve as a  mainstay for enterprise installations. We deploy and manage budget-friendly building-centered mobile coverage packages suitable for first responders and other entities in the same vein.</p>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" id="ncs">
                <h3>Cellular DAS</h3>
                <p>
                    Both distribution points and signal sources can be covered by a cellular DAS, providing the most optimal signal coverage that fits your needs. Contact NCS right now to deal with poor reception in your office once and for all.
                </p>


            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>The GCN Approach</h3>
                <p>We utilize a broad team of experienced technicians and designers to conceptualize, deploy and maintain all our products and services, doing so with the highest level of quality imaginable. We hold tremendous experience when it comes to deploying custom wireless solution, allowing us to guarantee the most optimal combination of quality and speed for all our clients.</p>
            </div>
        </div><br></br>

        <center><h5>All NCS clients have the following guarantees of our service and product quality:</h5></center>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" id="ncs">
                <h3>Third-Party Audits</h3>
                <p>
                    All digital information transfer systems need to be held to a particularly high standard of reliability, privacy and performance. This necessitates the correct deployment of structured cabling components and arrays that ensure manufacturer compliance for warranty purposes.
                    BICSI and EIA/TIA are two industry-standard bodies that confirm the notion of a correctly installed cabling array bringing forth increased performance, reliability and safety. GCN has gone forward with audits to help clients in need of a third-party network solution documentation, testing and project inspection.
                    There are only four BICSI Authorized Training Facilities (BICSI ATF) located in Houston; we are one of the four.
                    Credentials issued by BICSI serve as a global seal of quality that ensures a deluxe standard of learning when it comes to ICT certifications. In a BICSI ATF, the teaching staff has the license to provide training for BICSI installation and uses the identical classroom equipment, curriculum and materials BICSI uses in its own class. We are one of the four BICSI ATFs found in Houston and our certification offers are just a click away.
                </p>


            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>24/7/365 Emergency Call Out Service</h3>
                <p>Our service engineers and technicians are on standby 24/7/365, responding promptly to all your emergencies. To get in touch with NCS support, send us an e-mail at service@_____ or give our Service Manager a call at 123456789 with a short summary of the services you need.</p>
            </div>
        </div>





        </div>
    </section><!-- End Features Section -->
  {% endblock %}